@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
:root {
  --primary: #2c3e50;
  --accent: #2980b9;
  --background: #020887;
  --text: #7D82B8;
}
.content {
  max-width: 800px;
  margin: 120px auto 40px auto;  
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}


body {
  background-color: var(--background);
  color: var(--text);
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: rgba(28,32,51,1); 
  position: relative;
  z-index: 0;
}


body.home {
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
}

body.home::before {
 
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('Untitled_Artwork.png');
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
  opacity: 0.3; 
  z-index: -1;
}

body.about {
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
}

body.about::before {
 
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('questionmark.png');
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
  opacity: 0.3; 
  z-index: -1;
}

body.letter {
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
}

body.letter::before {
 
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('mailbox.png');
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
  opacity: 0.3; 
  z-index: -1;
}

body.poetry {
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
}

body.poetry::before {
 
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('poetry.png');
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
  opacity: 0.3; 
  z-index: -1;
}

body.art {
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
}

body.art::before {
 
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('art.png');
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
  opacity: 0.3; 
  z-index: -1;
}

body.posts {
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
}

body.posts::before {
 
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('blogpost.png');
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
  opacity: 0.3; 
  z-index: -1;
}

body.contact {
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
}

body.contact::before {
 
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('contact.png');
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
  opacity: 0.3; 
  z-index: -1;
}

body.editor {
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
}

body.editor::before {
 
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('editor.png');
  background-size: 80px;
  background-repeat: repeat;
  background-position: center;
  background-color: rgba(28, 32, 51, 1);
  opacity: 0.3; 
  z-index: -1;
}


.content {
    max-width: 800px;            
    margin: 0 auto;              /* centers the content horizontally */
    padding: 40px 20px;          /* adds room inside box */
    text-align: left;          
    line-height: 1.6;           
    color: #ccccff;             
    font-size: 18px;             
}

nav {
    background: rgba(28,32,51,1);
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav a:hover {
    color: #191963;
}
nav a {
   color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    font-weight: 600;
    transition: 0.3s;
}

h1 {
    margin-top: 100px;
    font-size: 36px;
}

p {
    font-size: 20px;
}

.letter-container {
    display: inline-block;
    margin-top: 120px;
    max-width: 800px;
    padding: 40px 20px;
    text-align: left;
  

    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    backdrop-filter: blur(4px);
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    font-size: 18px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    color: white;
    background: #191963;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #0041accc;
    transform: scale(1.05);
}
